.accordion {
	margin-top: 20px;
	.accordion__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		text-align: left;
		color: $lightBlack;
		font-size: 1rem;
		background-color: transparent;
		&::after {
			content: '\002b';
			font-size: 1.3rem;
			font-weight: 600;
			color: $red;
			float: right;
			margin-right: 10px;
		}	
	}
	.active::after {
		content: '\2212';
	}
	.accordion__panel {
		margin-top: 15px;
		padding: 0 18px;
		max-height: 0; 
		overflow: hidden;
		transition: max-height .2s linear;
		li {
			margin: 5px 0;
		}
	}
}
