.basket {
	position: relative;

	.basket__button {
		cursor: pointer;
	}

	.basket__icon {
		display: block;
		width: 32px;
		height: 32px;
		transition: .2s linear;
		fill: $white;
		&:hover {
			fill: $red;
			transition: .2s linear;
		}				
	}
}