 .btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $white;	
	text-transform: uppercase;
	border: 2px solid $white;
	transition: .8s linear;
}
 .btn-big {
	position: absolute;
	width: 220px;
	padding: 25px 0;
	font-size: 1.06rem;
	font-weight: 600;
}

.btn-red {
	position: absolute;
	margin-top: 20px;
	font-size: 1.06rem;
	text-transform: uppercase;
	font-weight: 500;
	padding: 15px 30px;
	background-color: $red;
	transition: background-color .2s linear;
	&:hover {
		background-color: #751c20;
	}
}

.btn-small {
	width: 150px;
	padding: 15px 0;
	transition: .2s linear;
	&:hover {
		background-color: $red;
		border-color: $red;
	}
}

#contacts-btn {
	float: right;
	padding: 10px 0;
	width: 130px;
}

#product-btn {
	width: 220px;
	position: relative;
}