.burger {
	display: none;
	margin-left: 20px;
	font-size: 1.8rem;
	.burger__icon {
	   cursor: pointer;
		color: $white;
		font-weight: 700;
		h6 {
			display: none;
		}		
	}
	// Здесь два класса, чтобы можно было между ними переключаться посредством JavaScript
	.burger-menu::after {
		content: '\2630';
	}
	.burger-cross::after {
		content: '\2715';
	}
}