.currency {
	.currency__link {
		text-transform: uppercase;
		font-size: 0.93rem;
		color: $black;
		&:hover {
			color: $black;
		}	
	}
	#active {
		color: $red;
		font-weight: 600;
	}
	.currency__line {
		color: $gray;
		margin-right: 3px;
		margin-left: 3px;
		height: 10px;
	}
}

