.discounts {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	overflow: hidden;
	img {
		width: 100vw;
	}
	.discounts__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $white;
		position: absolute;
		.discounts__text {
			font-size: 3rem;
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom: 30px;
			b {
				color: $red;
			}
		}
	}
}