.form {
	color: $lightBlack;
	font-size: 1rem;
	.form__line {
		display: flex;
		flex-direction: column;
		.form__input {
			margin: 15px 0;
			padding: 10px;
			height: 40px;
			border: 1px solid rgba($color: #c5c0c0, $alpha: .5);
		}
		div {
			margin-top: 5px;
		}
	}
	button {
		position: relative;
		text-transform: inherit;
		width: 100%;
	}
}

