.info {
	margin-top: 30px;
	.info__row {
		display: flex;
		align-items: center;
		.info__photo {
			width: 48%;
			img {
				width: 48vw;
			}
		}
		.info__text {
			padding-left: 5%;
			padding-right: 50px;
			.info__title {
				color: $lightBlack;
				font-size: 2rem;
				text-transform: uppercase;
				font-weight: 700;
			} 
			p {
				margin-top: 15px;
				color: $lightBlack;
				font-size: 1.06rem;
				line-height: 1.5rem;
			}
		}
	}
}