.sidebar {
	position: fixed;
	width: 350px;
	height: 100%;
	top: 0;
	right: -365px; // что бы спрятать по-умолчанию
	/* плавный переход смещения панели */
	-webkit-transition: right .5s, left .5s;
	-moz-transition: right .5s, left .5s;
	transition: right .5s, left .5s;

	z-index: 1000;
	background-color: $white;
	box-shadow: 0px 0px 10px 5px $red;
	cursor: auto;

	color: $lightBlack;
	font-size: 1.06rem;
	padding: 1rem;
	.sidebar__title {
		font-size: 1.26rem;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
	}	
	.sidebar__subtitle {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
	.sidebar__text {
		line-height: 150%;
	}

	.sidebar-hider {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 25px;
		height: 25px;
		font-size: 1.8rem;
		font-weight: 700;
		cursor: pointer;
		z-index: 1001;
		&::after {
			content: '\2715';	
			color: $black;
		}
	}
}

.login-sidebar {
	color: $lightBlack;
	.login-sidebar__title {
		margin-bottom: 2.5rem;
		padding-bottom: 10px;
		border-bottom: 1px solid #f5f5f5;
		font-size: 1.3rem;
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
	}
}

.menu-sidebar {
	padding: 0;
	left: -360px;
	box-shadow: none;
	background-color: #f3f3f3;
	.menu-sidebar__title {
		padding: 15px;
		background-color: $gray;
		color: $red;
		font-size: 1.3rem;
		font-weight: 700;
	}
	.menu-sidebar__nav {
		display: flex;
		flex-direction: column;
		.menu-sidebar__link {
			padding: 15px;
			font-size: 1rem;
			color: $lightBlack;
			&:hover {
				color: $red;
				transition: .2s;
			}
		}
	}
}

#sidebar-checkbox, #login-checkbox, #menu-checkbox {
	display: none;
}

#sidebar-checkbox:checked + .sidebar {
	right: 0;
}

#login-checkbox:checked + .sidebar {
	right: 0;
}

#menu-checkbox:checked + .menu-sidebar {
	left: 0;
}

// Смещение контента сайта при выезжании боковаго меню на моб. устройствах
#menu-checkbox:checked ~ main > article {
	transform: translateX(350px); /* Здесь выставил 350px, потому при том значении, которое у блока (360px) появляеться белая полоса скраю блока */
}

#menu-checkbox:checked ~ .burger__link > .burger__icon::after {
	content: '\2715';
}

