.slider__btn-prev, .slider__btn-next {
	position: absolute;
	top: 50%;
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.slider__btn-prev {
	background: url(../../images/arrows/left-arrow.svg) no-repeat;
	left: -30px;
}
.slider__btn-next {
	background: url(../../images/arrows/right-arrow.svg) no-repeat;
	right: -30px;
}