.wrapper {
	height: 100%;
	padding: 0 50px;
}

/* Слайдер */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: center;
}

/* Маленький слайдер товаров */
.slider-small { 
	position: relative;
	min-width: 0; /* min-width: 0; потому что слайдер внутри флекс-элемента, иначе он работать не будет */
	max-width: 480px;	/* Ширину слайдера сделал на 20px больше за ширину фото, что бы сделать margin по ширине между фотками */
	height: 460px;	
	.slider-small__item {
		margin: 0 10px;
	}
	.slider-small__item img {
		width: 460px;
	}
	.slick-arrow {
		position: absolute;
		top: 50%;	
		font-size: 0;
		width: 20px;
		height: 20px;
	}
	.slick-arrow.slick-prev {
		left: -20px;
		background: url(../../images/arrows/left-arrow.svg) no-repeat;
	}
	.slick-arrow.slick-next {
		right: -20px;
		background: url(../../images/arrows/right-arrow.svg) no-repeat;
	}
}

