.intro {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.intro__inner {
	position: relative;
	display: flex;
}

.intro__img {
	height: 800px;
	overflow: hidden;
	opacity: 50%;
}

.intro__content {
	display: flex;
	align-items: center;
	position: absolute;
	font-size: 1.666rem;
	line-height: 2rem;
	top: 10%;
	left: 7.3%;
	img {
		border-radius: 7px;
	}
	.intro__info {
		padding: 15px;
		margin-left: 138px;
		font-weight: 300;
		color: $lightgrey;
		p {
			max-width: 1090px;
			text-align: justify;
		}
	}
	.intro__title {
		font-family: SF Pro Display, serif;
		font-size: 3.86rem;
		font-weight: 600;
		margin-bottom: 30px;
	}
	.intro__columns {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		&-title {
			margin: 10px 0;
			font-weight: 500;
		}
	}
}