@charset "UTF-8";
/* Обнуление -----------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------*/
body {
  font-family: 'sf pro text';
  color: #fff;
  background: #020916;
}

a {
  color: #fff;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

a:hover {
  color: #FFBB00;
}

.header {
  background-color: #182131;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.header .header__item, .header .menu {
  width: 33.33333%;
}

.burger {
  display: none;
  padding: 9px 2px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  height: 100%;
  background: #fff;
  position: absolute;
  right: 0;
  z-index: 1;
}

.burger__item:before {
  width: 32px;
  top: -8px;
}

.burger__item:after {
  width: 28px;
  bottom: -8px;
}

.container {
  width: 100%;
  max-width: 1670px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.header__item form {
  width: 398px;
  position: relative;
  margin: 0 auto;
}

.header__item button {
  background: none;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 16px;
}

.header__item input {
  width: 398px;
  height: 52px;
  padding: 15px 20px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.32);
  opacity: .5;
  border-radius: 30px;
}

::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
}

input:focus::-ms-input-placeholder {
  opacity: 0;
}

input:focus::placeholder {
  opacity: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  z-index: 1000;
}

.menu .topmenu {
  display: inline-block;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu ul li a {
  display: block;
  background: #b5bdc8;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#b5bdc8), color-stop(36%, #828c95), to(#182131));
  background: linear-gradient(to bottom, #b5bdc8 0%, #828c95 36%, #182131 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#182131',GradientType=0 );
  /* IE6-9 */
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.menu ul li:first-child {
  border-left: 1px solid #fff;
}

.menu ul li:last-child {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.menu li a:hover {
  background: #fff;
  color: #FFBB00;
  -webkit-box-shadow: 0px 2px 10px 2px #fff;
          box-shadow: 0px 2px 10px 2px #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.menu li ul {
  position: absolute;
  width: 155px;
  display: none;
}

.menu li ul li {
  border: 1px solid #fff;
}

.menu li ul li a {
  text-transform: none;
}

.menu li:hover ul {
  display: block;
}

.movielist {
  margin-bottom: 60px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movielist .slidersmall {
  padding: 0;
}

.intro {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.intro__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__img {
  height: 800px;
  overflow: hidden;
  opacity: 50%;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-size: 1.666rem;
  line-height: 2rem;
  top: 10%;
  left: 7.3%;
}

.intro__content img {
  border-radius: 7px;
}

.intro__content .intro__info {
  padding: 15px;
  margin-left: 138px;
  font-weight: 300;
  color: #eee;
}

.intro__content .intro__info p {
  max-width: 1090px;
  text-align: justify;
}

.intro__content .intro__title {
  font-family: SF Pro Display, serif;
  font-size: 3.86rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.intro__content .intro__columns {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__content .intro__columns-title {
  margin: 10px 0;
  font-weight: 500;
}

.actors, .trailer {
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 20px;
  width: 1920px;
  border-bottom: solid 1px rgba(112, 112, 112, 0.7);
}

.actors__text, .trailer__text {
  font-family: SF Pro Display, serif;
  font-size: 2.4rem;
}

.actors__info {
  margin-top: 20px;
}

.actors__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actors__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
}

.actors__item img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 260px;
}

.actors__item .actors__img {
  height: 360px;
}

.actors__item .actors__name {
  padding-top: 33px;
  text-align: center;
}

.actors__item .actors__name, .actors__item .actors__surname {
  font-size: 1.666rem;
  background-color: #151F2E;
  text-align: center;
}

.actors__item .actors__surname {
  color: #999999;
  padding-top: 10px;
  padding-bottom: 32px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.trailer__video {
  margin-top: 20px;
}

/* Media ===================== */
@media (max-width: 1920px) {
  .actors, .trailer {
    width: auto;
  }
}

@media (max-width: 1800px) {
  .intro__inner img {
    width: 100%;
  }
  .intro__img {
    height: auto;
  }
  .intro__content {
    font-size: 1.2rem;
    line-height: 1.5rem;
    top: 50%;
    bottom: 50%;
  }
  .intro__content img {
    width: 250px;
  }
  .intro__content .intro__info {
    margin-left: 5%;
  }
  .intro__content .intro__title {
    font-size: 2.5rem;
  }
  .actors__text, .trailer__text {
    font-size: 1.8rem;
  }
  .actors__item {
    width: 180px;
  }
  .actors__item img {
    width: 180px;
  }
  .actors__item .actors__img {
    height: 250px;
  }
  .actors__item .actors__name {
    padding-top: 20px;
  }
  .actors__item .actors__name, .actors__item .actors__surname {
    font-size: 1.2rem;
  }
  .actors__item .actors__surname {
    padding-bottom: 20px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1300px;
  }
  .actors__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1025px) {
  .menu {
    display: none;
    position: absolute;
    right: 15px;
    top: 90px;
  }
  .menu ul li a {
    font-size: 1rem;
  }
  .menu .topmenu {
    width: 130px;
  }
  .menu li ul {
    width: 130px;
    display: block;
  }
  .menu.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__item input, .header__item form {
    width: 250px;
  }
  .header__item, .menu {
    width: auto;
  }
  .intro__content {
    font-size: 1rem;
    line-height: 1.3rem;
    top: 50%;
    bottom: 50%;
  }
  .intro__content img {
    width: 200px;
  }
  .intro__content .intro__info {
    margin-left: 5%;
  }
  .intro__content .intro__title {
    line-height: 1.5rem;
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .intro__content .intro__columns {
    margin-top: 0;
  }
  .actors, .trailer {
    padding-top: 10px;
  }
  .actors__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .actors__item {
    margin: 15px;
  }
  .burger {
    display: block;
    position: absolute;
    right: 15px;
  }
}

@media (max-width: 766px) {
  ::-webkit-input-placeholder {
    font-size: 1rem;
  }
  .header__item input, .header__item form {
    width: 150px;
  }
  .intro__img {
    height: 700px;
  }
  .intro__inner img {
    width: auto;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .intro__content {
    left: 5%;
  }
  .intro__content img {
    width: 150px;
    left: 10%;
  }
  .intro__content .intro__info {
    margin-left: 0;
  }
  iframe {
    width: 100%;
    max-width: 560px;
  }
}

@media (max-width: 500px) {
  .intro__content {
    left: 0;
  }
  .intro__content img {
    display: none;
  }
  .intro__content .intro__title {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */