.wrapper {
	height: auto;
	padding: 30px;
	margin-bottom: 60px;
}

/* Slider */
.slick-slider {}

.slick-slider.slick-initialized {}

.slick-slider.slick-dotted {}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
}

.slick-slide {}

.slick-slide.slick-active {}

.slick-slide.slick-current {}

.slick-slide.slick-center {}

.slick-slide.slick-cloned {}

.slick-arrow {}

.slick-arrow.slick-prev {}

.slick-arrow.slick-next {}

.slick-arrow.slick-disabled {}

.slick-dots {}
.slick-dots li {}

.slick-dots li.slick-active {}

.slick-dots li button {}

/* Текущий слайдер -----------------------*/
.slider, .slidersmall {
	position: relative;
	padding: 0 50px;
}

.slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
}

.slider .slick-arrow.slick-prev {
	left: 0;
	background: url(images/arrow-l.svg) 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
	right: 0;
	background: url(images/arrow-r.svg) 0 0 / 100% no-repeat;
}

.slider__img, .slider__item {
	width: 1580px;
	height: 500px;
	overflow: hidden;
	border-radius: 15px;
}

.slider img {
	position: relative;
   left: 50%;
   transform: translateX(-50%);
	/*! Центрировал картинку в границе */
}

.slider__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative; /* Что бы можно было установить позицию текста на картинке */
	width: 1610px;
	transition: all 0.3s ease 0s;
	opacity: 0.4;
}

.slick-slide.slick-center {
	opacity: 1;
}

/* Контент слайдера -----------------------*/

.slider__item-title {
	position: absolute;
	top: 40%;
	left: 6.96%;
	font-size: 4.4rem;
	
}
.slider__item-title h3 {
	font-size: 3rem;
	float: left;
}

/* Кнопки -------------------*/

.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .slick-dots li {
	list-style: none;
	margin: 0 10px;
}

.slider .slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
	background-color: transparent;
	border: 1px solid #fff;
	/* Сделал активную кнопку прозрачной с белой границей */
}

.slider .slick-arrow.slick-disabled {
	opacity: 0.2;
	/*! Сделал кнопку почти невидимой, кодга она не активна */
}

/* Слайдер №2 и №3 -----------------------*/

.slidersmall .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 30px;
}

.slidersmall .slick-arrow.slick-prev {
	left: 0;
	background: url(images/arrow-l.svg) 0 0 / 100% no-repeat;
}

.slidersmall .slick-arrow.slick-next {
	right: 0;
	background: url(images/arrow-r.svg) 0 0 / 100% no-repeat;
}

.slidersmall img {
	height: 380px;
	border-radius: 10px;
}

.slidersmall img:hover {
	opacity: 0.4;
}

.slidersmall__item {
	width: auto;
	margin-right: 20px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease 0s;

	text-align: center;
	font-size: 1.2rem;
}

.slidersmall .slick-arrow.slick-disabled {
	opacity: 0.2;
	/*! Сделал кнопку почти невидимой, кодга она не активна */
}

/* Название Слайдера №2 и №3 -----------------------*/

.slidertitle {
	margin-top: 80px;
	font-size: 2.13rem;
	font-weight: 300;
}

/* Контент слайдера №2 и №3 -----------------------*/

.slidersmall__item h2 {
	line-height: 1.5rem;
	font-size: 1.3rem;
	margin: 10px 0;
}

/* Media ===================== */

@media (max-width: 1739px) {
	.slider__img, .slider__item {
		width: 1300px;
	}
	.slider__item {
		width: 1340px;
	}
	.slider__item-title {
		font-size: 3.5rem;
		
	}
	.slider__item-title h3 {
		font-size: 2.5rem;
	}
	.slider .slick-arrow {
		width: 40px;
		height: 40px;
	}
	/* Центрирование маленьких слайдов ===================== */
	.movielist{
		justify-content: center;
	}
	/* Размер шрифта маленьких слайдов ===================== */
	.slidersmall__item {
		font-size: 1rem;
	}
	
	.slidersmall__item h2 {
		line-height: 1.5rem;
		font-size: 1.2rem;
	}
}
@media (max-width: 1440px){
	.slider__item{
		margin: 20px;
	}
	.slider__img, .slider__item{
		width: 1000px;
		height: 400px;
	}
	.slider__item img{
		width: 100%;
	}
	.slider__item-title{
		font-size: 3rem;
	}
	.slider__item-title h3 {
		font-size: 2rem;
	}
	.slidertitle{
		font-size: 1.5rem;
	}
}

@media (max-width: 1180px){
	.slider__img, .slider__item{
		width: 700px;
		height: 200px;
	}
	.slider__item-title{
		font-size: 2rem;
	}
	.slider__item-title h3 {
		font-size: 1.5rem;
	}
}

@media (max-width: 860px){
	.wrapper{
		padding: 0;
	}
	.slider__img, .slider__item{
		width: 500px;
		height: 200px;
	}
	.slider, .slidersmall{
		padding: 0;
	}
	.slider__item-title{
		left: 25%;
	}
}